footer {
    background-color: rgba(100, 240, 50, 0.3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border: 0px;
}



.white-text {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-titles {
    font-weight: 500;
}

.white-text:hover {
    color: black
}

/* .footer-titles:hover {
   color:darkblue;
} */